<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <ul class="nav navbar-nav">
                        <li><a href="/"><div class="glyphicon glyphicon-asterisk"></div></a> </li>
                        <li>
                            <a href="/new"><button class="btn">Add Article</button></a>
                        </li>
                        <li><a class="link" href="/about">About</a></li>
                        <li><a class="link selected" href="/contact">Contact</a></li>
                        <li><a class="link" href="/articles">Articles</a></li>
                    </ul>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </nav>
    <div class="hero">
        <div class="container">
            <div class="col-md-2"></div>
            <div class="col-md-8"><h1>Call me maybe!</h1></div>
            <div class="col-md-2"></div>
        </div>
    </div>