<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Article</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <ul class="nav navbar-nav">
                        <li><a href="/"><div class="glyphicon glyphicon-asterisk"></div></a> </li>
                        <li><a class="link"href="/new">Add Article</a></li>
                        <li><a class="link" href="/about">About</a></li>
                        <li><a class="link" href="/contact">Contact</a></li>
                        <li><a class="link" href="/articles">Articles</a></li>

                    </ul>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </nav>
     <div class="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h1>Welcome to the Daily Planet</h1>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h3 class="quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis fringilla sem nisi. Quisque dapibus urna arcu, dignissim aliquet magna pharetra eget.</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis fringilla sem nisi. Quisque dapibus urna arcu, dignissim aliquet magna pharetra eget. Fusce ut massa at eros viverra feugiat ac a ex. Proin pellentesque ornare sapien eu rutrum. Vivamus at interdum ante, a facilisis lorem. In erat est, tempus eu magna sed, congue venenatis libero. Morbi sit amet tincidunt urna. Nulla sed ligula leo. Curabitur rutrum odio nibh, vel laoreet felis egestas ultricies. Suspendisse mattis tristique odio sed congue. Morbi id quam lectus. Sed venenatis luctus purus. Mauris ac lectus ut arcu tempus laoreet. Nulla ornare mauris in ligula sagittis consectetur. Praesent ut turpis nec erat bibendum euismod eget at sapien. Cras hendrerit, elit et vulputate iaculis, elit ante finibus metus, et mollis leo nulla sed justo.
                </p>
                <p>
                    Curabitur gravida consequat sem, in posuere ante. Nunc consequat efficitur arcu eget malesuada. Quisque placerat augue ac dapibus pulvinar. Etiam sapien metus, tincidunt luctus neque ut, rutrum molestie tortor. In convallis turpis metus, vitae ultrices est malesuada sed. In blandit diam ipsum, et hendrerit tellus mollis at. Cras bibendum erat velit, nec efficitur justo ullamcorper id. Ut gravida enim sed massa finibus, eget ultricies augue iaculis. Vivamus sed vehicula justo, non bibendum arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam pretium interdum nunc.
                </p>
                <p>
                    Proin sed volutpat sapien. Sed volutpat ut augue non tincidunt. Maecenas nulla leo, aliquam vitae porttitor eget, tempus et ligula. Etiam nulla risus, laoreet et sem a, fringilla semper magna. Nunc iaculis varius tellus ut congue. Aliquam efficitur, leo a molestie sodales, sem tellus pretium eros, sed mattis tellus nulla at leo. Maecenas congue ligula sit amet mattis iaculis.


                </p>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>