p{
    font-size: 16px;
    line-height: 1.425em;
}
h1{
    color: white;
    margin: 20px -10px;
}


.navbar.navbar-inverse{
    margin-bottom: 0px;
}
.article-num {
    color:#91908C;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.navbar {
    border-radius: 0px;
}
.glyphicon{
    color: rgba(255,255,255,0.8);
    font-size: 36px;
    margin-left: -10px;
}
.glyphicon:hover{
    color: rgba(255,255,255,1);
}
ul.navbar-nav.nav {
    width:100%;
}

.navbar-nav>li{
    float:right;
}
.navbar-nav>li:first-child{
    float:left;
}
.navbar-nav>li>a {
    padding:5px 10px;
}
.navbar-nav>li>a.link{
    padding: 12px 15px;
    float:right;
}
.navbar-nav>li>a.selected{
    color:white;
}

button{
    margin: 2px 0 0 5px;
    color:#333;
    float:right;
}
button:hover{
    background-color: white;
}

.hero {
    background: url("http://lorempixel.com/1200/140/abstract/3");
    min-height: 80px;
    margin-bottom: 30px;
}

.main {
    margin-bottom: 40px;
}
