p{
    font-size: 16px;
    line-height: 1.425em;
    font-weight: 400;
}
h1{
    color: white;
    margin: 20px 0;
    font-weight: 300;
}
h3{
    font-weight: 400;
}

a{
    color: rgba(224,11,75,1);
    font-weight: 400;
}
a:hover{
    color: rgba(186,4,54,1);
}


.navbar.navbar-inverse{
    margin-bottom: 0px;
}
.article-num {
    color:#91908C;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.05em
}

.navbar {
    border-radius: 0px;
}
.glyphicon{
    color: rgba(224,11,75,0.8);
    font-size: 36px;
}
.glyphicon:hover{
    color: rgba(224,11,75,1);
}

.navbar-nav>li{
    float:right;
}
.navbar-nav>li:first-child{
    float:left;
}
.navbar-nav>li>a {
    padding:5px 10px;
}
.navbar-nav>li>a.link{
    padding: 12px 15px;
    float:right;
}
.navbar-nav>li>a.selected{
    color:white;
}

button{
    margin: 2px 0 0 5px;
    float:right;
    background-color: rgba(0,0,0,0.5);
}
button:hover{
    color:rgba(255,255,255,1);
    background-color: rgba(0,0,0,1);
}

.hero {
    background: url("http://lorempixel.com/1200/140/abstract/3");
    min-height: 80px;
    margin-bottom: 30px;
}

.main {
    margin-bottom: 40px;
}
footer{
    height: 40px;
}
.quote {
    font-style: italic;
    font-weight: 400;
    line-height: 1.4em;
    margin-top: 0;
    color: rgba(224,11,75,1);
}

ul.navbar-nav.nav {
    width:100%;
}



